<div class="container p-5">
    <div class="row">
        <div class="col-md-4">
            <img src="../imagens/logoDobem.png" class="logoFooter my-0" /><br />
            <span class="fw-bold">&copy Todos os direitos reservados a Fruteira do Bem</span>
        </div>
        <div class="col-md-4 offset-md-4">
            <h5 class="fw-bold">Links</h5>
            <a href="/" class="nav-link">Sobre nós</a>
            <a href="/comofunciona" class="nav-link">Como funciona</a>
            <a href="/loginUsuario" class="nav-link">Entrar</a>
            <a href="/cadastroUsuario" class="nav-link">Cadastrar</a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous">
</script>