<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head'); %>
</head>

<body>
  <%- include('navbar'); %>

    <!--Conteudo-->
    <div class="container" id="contQS">
      <div class="row">
        <div class="col-md-6">
          <img src="imagens/imgQS.jpg" class="rounded-circle shadow my-0 ms-5" id="imgQS" />
        </div>
        <div class="col-md-6">
          <h1 class="fw-bold tituloQ me-5">Quem somos?</h1>
          <p class="text-success fw-bold mt-4 me-5">
            Somos uma plataforma que conecta fruteiras com consumidores com o
            objetivo de comercializar produtos que tenham iniciado o seu
            processo de deterioração, porém, que mantém o seu valor nutricional
            por preços atrativos.
          </p>
          
        </div>
      </div>
    </div>
    
    <!--Footer-->
    <footer class="shadow">
      <%- include('footer'); %>
    </footer>
    <!--FooterFim-->

</body>

</html>