<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head'); %>
</head>

<body>
  <%- include('navbar'); %>

    <!--Conteudo-->
    <div class="container text-center mt-5 mb-5">
      <h1 class="titlePag fw-bold">Obrigado!</h1>
      <hr class="">
      <h3 class="titlePag fw-bold">Seu pedido foi concluído com sucesso</h3>
      <p class="text-success fw-bold">Em até 2 horas, seu pedido estará pronto.</p>
      <p class="text-success fw-bold">Tenha um ótimo dia!</p>
      <p class="text-success fw-bold">
        Atenciosamente,<br>
        Fruteira do Bem
      </p>
      <p>
        <a href="/" class="btn btn-success mt-3">Voltar à Página Inicial</a>
      </p>
    </div>
    <!--ConteudoFim-->

    <!--Footer-->
    <footer class="shadow">
      <%- include('footer'); %>
    </footer>
    <!--FooterFim-->

</body>

</html>